@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
/* font-family: 'Poppins', sans-serif; */
* {
  font-family: "Poppins", sans-serif;
}

.topOval {
  position: absolute;
  left: -14.72%;
  right: 57.17%;
  top: -5.53%;
  bottom: 90.7%;
  display: none;
}

.main_back {
  background-color: #75246f !important;
  color: #fff !important;
}

/* Start nav bar Style */
.container {
  width: 95%;
}

.navbar {
  padding-top: 0 !important;
}

.navbar .container {
  padding: 2vw 0px;
  margin-top: 0px !important;
}

.navbar .container .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .container .navbar-nav .nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #a3a3a3 !important;
  margin-left: 5vw !important;
}

.navbar .container .navbar-nav .nav-link.active {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -1px;
  color: #75246f !important;
}

.navbar .container .navbar-nav .main-button {
  padding: 11px 45px !important;
  color: #ffffff !important;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.17px;
  border-radius: 200px;
  -webkit-box-shadow: -10px 30px 50px 0px #75246f4d;
  -ms-box-shadow: -10px 30px 50px 0px #75246f4d;
  -o-box-shadow: -10px 30px 50px 0px #75246f4d;
  box-shadow: -10px 30px 50px 0px #75246f4d;
}

.navbar .container .navbar-toggler {
  background-color: #75246f;
}

.navbar .container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/toggler.svg);
}

.navbar .container .navbar-toggler:focus {
  -webkit-box-shadow: 0px 0px 0px 5px rgba(117, 36, 112, 0.8);
  -ms-box-shadow: 0px 0px 0px 5px rgba(117, 36, 112, 0.8);
  -o-box-shadow: 0px 0px 0px 5px rgba(117, 36, 112, 0.8);
  box-shadow: 0px 0px 0px 5px rgba(117, 36, 112, 0.8);
}

.carousel-indicators button {
  background-color: #75246f !important;
}

header {
  margin-top: 137px;
  min-height: 630px;
  position: relative;
}

header .circle {
  position: absolute;
  width: 276px;
  height: 276px;
  left: -114px;
  top: 50px;
  border-radius: 50%;
  z-index: -1;
  background-color: #AC5EA40D;
}

header .row.active {
  opacity: 1;
}

header .row {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

header .row .content h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 108%;
  color: #1b1464;
  margin-bottom: 18px;
}

header .row .content h2 span {
  color: #75246f;
}

header .row .content ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #808080;
}

header .row .content p ~ ul {
  margin-bottom: 63px;
}

header .row .content p {
  margin-bottom: 63px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #808080;
}

header .row .content p span {
  color: #1b1464;
  font-weight: 600;
}

header .row .content p.hasUlAftter {
  margin-bottom: calc(33px/2);
}

header .row .content .main_back {
  border-radius: 12px;
  padding: 15px 32px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

header .row .images {
  position: relative;
}

header .row .images .indicators {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 227px;
  margin-top: 15px;
  position: relative;
  top: -38px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .row .images .indicators .indicator {
  cursor: pointer;
  display: block;
  width: 39px;
  height: 8px;
  border-radius: 13px;
  background: rgba(218, 218, 218, 0.34);
  -webkit-backdrop-filter: blur(13px);
  -moz-backdrop-filter: blur(13px);
  -ms-backdrop-filter: blur(13px);
  -o-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
}

header .row .images .indicators .indicator.active {
  background: #75246f;
  -webkit-backdrop-filter: blur(0px);
  -moz-backdrop-filter: blur(0px);
  -ms-backdrop-filter: blur(0px);
  -o-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
}

header .row .images .img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

header .row .images .img1 {
  background-image: url(../images/logo.svg);
}

header .row .images .img2 {
  background-image: url(../images/logo.svg);
}

.sliderSection ~ .container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.sliderSection ~ .container .col-md-4 {
  height: 860px;
}

.sliderSection ~ .container .col-md-4 div {
  padding: 20px 15px;
  background: #f4f0f3;
  border-radius: 12px;
  height: 100%;
}

.sliderSection ~ .container .col-md-4 div h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 127%;
  color: #1b1464;
}

.sliderSection ~ .container .col-md-4 div h3 span {
  color: #75246f;
}

.sliderSection ~ .container .col-md-4 div p {
  font-size: 16px;
  line-height: 24px;
  color: #808080;
}

.sliderSection ~ .container .col-md-4 div p span {
  color: #75246f;
  font-size: 18px;
}

.sliderSection ~ .container .col-md-4 div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  background: #75246f;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 12px;
}

.sliderSection ~ .container .col-md-4 div a span {
  margin-left: 10px;
}

.sliderSection ~ .container .col-md-4 div ul li {
  line-height: 25px;
  color: #808080;
}

.sliderSection ~ .container .col-md-4 div.towPart {
  height: calc(55% - 20px);
  margin-bottom: 40px;
}

.sliderSection ~ .container .col-md-4 div.towPart:nth-child(1) {
  height: calc(45% - 20px);
}
/*# sourceMappingURL=style.css.map */