@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
/* font-family: 'Poppins', sans-serif; */
* {
  font-family: "Poppins", sans-serif;
}

.topOval {
  position: absolute;
  left: -14.72%;
  right: 57.17%;
  top: -5.53%;
  bottom: 90.7%;
  display: none;
}

.main_back {
  background-color: #75246f !important;
  color: #fff !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: #c33cba;
  border: 20px none #ffffff00;
  border-radius: 78px;
}

::-webkit-scrollbar-thumb:hover {
  background: #75246f;
}

::-webkit-scrollbar-thumb:active {
  background: #75246f;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
  border: 0px none #ffffff00;
  border-radius: 79px;
}

::-webkit-scrollbar-track:hover {
  background: #7524702d;
}

::-webkit-scrollbar-track:active {
  background: #7524702d;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Start nav bar Style */
.container-fluid {
  padding-left: 5vw !important;
  padding-right: 5vw !important;
}

.navbar {
  padding-top: 0 !important;
}

.navbar .container-fluid {
  padding: 3.66vh 0px;
}

.navbar .container-fluid .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar .container-fluid .navbar-nav .nav-links {
  min-width: 36.25vw !important;
  margin-left: 4.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container-fluid .navbar-nav .nav-link {
  margin-left: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #a3a3a3 !important;
}

.navbar .container-fluid .navbar-nav .nav-link:hover {
  color: #75246f !important;
}

.navbar .container-fluid .navbar-nav .nav-link.active {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -1px;
  color: #75246f !important;
}

.navbar .container-fluid .navbar-nav .nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container-fluid .navbar-nav .nav-btn .nav-link {
  color: #ffffff !important;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.17px;
  background: #75246f;
  border-radius: 8px;
}

.navbar .container-fluid .navbar-nav .nav-btn .nav-item:nth-child(1) .nav-link {
  padding: 11px 33px !important;
  color: #75246f !important;
  background-color: #fff;
  border: 2px solid #75246f;
  margin-right: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar .container-fluid .navbar-nav .nav-btn .nav-item:nth-child(1) .nav-link:hover {
  background: #75246f;
  color: #ffffff !important;
}

.navbar .container-fluid .navbar-nav .nav-btn .nav-item:nth-child(2) .nav-link {
  padding: 11px 45px !important;
  border: 2px solid #75246f;
  -webkit-box-shadow: -10px 30px 50px rgba(117, 36, 111, 0.3);
  -ms-box-shadow: -10px 30px 50px rgba(117, 36, 111, 0.3);
  -o-box-shadow: -10px 30px 50px rgba(117, 36, 111, 0.3);
  box-shadow: -10px 30px 50px rgba(117, 36, 111, 0.3);
}

.navbar .container-fluid .navbar-toggler {
  width: 16px;
  border: none;
}

.navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/toggler.svg);
}

.navbar .container-fluid .navbar-toggler:focus {
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0);
  -ms-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0);
}

.sliderSection {
  margin-top: 100px;
  position: relative;
}

.sliderSection .circle {
  position: absolute;
  width: 18.5vw;
  height: 18.5vw;
  left: -114px;
  top: 5.5vh;
  border-radius: 50%;
  z-index: -1;
  background-color: #ac5ea40d;
}

.sliderSection .indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15.7vw;
  position: relative;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sliderSection .indicators .indicator {
  cursor: pointer;
  display: block;
  width: calc(20% - 4px);
  height: 8px;
  border-radius: 13px;
  background: rgba(218, 218, 218, 0.34);
  -webkit-backdrop-filter: blur(13px);
  -moz-backdrop-filter: blur(13px);
  -ms-backdrop-filter: blur(13px);
  -o-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
}

.sliderSection .indicators .indicator.active {
  background: #75246f;
  -webkit-backdrop-filter: blur(0px);
  -moz-backdrop-filter: blur(0px);
  -ms-backdrop-filter: blur(0px);
  -o-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
}

.sliderSection .row {
  display: none;
  height: 100%;
}

.sliderSection .row .content {
  margin-bottom: 20px;
  padding-top: 18px;
}

.sliderSection .row .content h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 108%;
  color: #1b1464;
}

.sliderSection .row .content h2 span {
  color: #75246f;
}

.sliderSection .row .content ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #808080;
}

.sliderSection .row .content p ~ ul {
  margin-bottom: 7vh;
}

.sliderSection .row .content p {
  margin-bottom: 7vh;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #808080;
}

.sliderSection .row .content p span {
  color: #1b1464;
  font-weight: 600;
}

.sliderSection .row .content p.hasUlAftter {
  margin-bottom: 1.83vh;
}

.sliderSection .row .content .main_back {
  border-radius: 12px;
  padding: 15px 32px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.sliderSection .row .images {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sliderSection .row .images .img {
  margin: 0 auto;
  max-width: 1082px;
  max-height: 613px;
  min-width: 330px;
  min-height: 400px;
  height: 100%;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.sliderSection .row .images .img1 {
  background-image: url(../images/header/img1.png);
}

.sliderSection .row .images .img2 {
  background-image: url(../images/header/img2.png);
}

.sliderSection .row .images .img3 {
  background-image: url(../images/header/img3.png);
}

.sliderSection .row .images .img4 {
  background-image: url(../images/header/img4.png);
}

.sliderSection .row .images .img5 {
  background-image: url(../images/header/img5.png);
}

.sliderSection .row.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grid {
  margin-bottom: 10.55vh;
}

.grid .col-md-7 .container-fluid {
  padding: 0 !important;
}

.grid .col-md-5,
.grid .col-md-6 {
  height: 800px;
  margin-bottom: 15px;
}

.grid .col-md-5 div,
.grid .col-md-6 div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 15px;
  background: #f4f0f3;
  border-radius: 12px;
  height: 100%;
}

.grid .col-md-5 div h3,
.grid .col-md-6 div h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 127%;
  color: #1b1464;
}

.grid .col-md-5 div h3 span,
.grid .col-md-6 div h3 span {
  color: #75246f;
}

.grid .col-md-5 div p,
.grid .col-md-6 div p {
  font-size: 16px;
  line-height: 24px;
  color: #808080;
}

.grid .col-md-5 div p span,
.grid .col-md-6 div p span {
  color: #75246f;
  font-size: 18px;
}

.grid .col-md-5 div a,
.grid .col-md-6 div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 12px;
}

.grid .col-md-5 div a span,
.grid .col-md-6 div a span {
  margin-left: 10px;
}

.grid .col-md-5 div ul li,
.grid .col-md-6 div ul li {
  line-height: 25px;
  color: #808080;
}

.grid .col-md-5 .towPart,
.grid .col-md-6 .towPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 0;
}

.grid .col-md-5 .towPart .col-md-12,
.grid .col-md-6 .towPart .col-md-12 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 30px;
  height: calc(45% - 15px);
}

.grid .col-md-5 .towPart .col-md-12:last-child,
.grid .col-md-6 .towPart .col-md-12:last-child {
  height: calc(55% - 15px);
  margin-bottom: 0px;
}

.gridController {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 6vh;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridController .material-icons {
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(39, 39, 46, 0.2);
  color: white;
}

.gridController .material-icons:nth-child(2) {
  background-color: #75246f;
  margin-left: 15px;
}

.gridController div:last-child {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #979797;
}

.gridController div:last-child div {
  margin: 0 7px;
  width: 35px;
  height: 1px;
  display: inline-block;
  background: #979797;
}

.gridController div:last-child span:last-child {
  color: rgba(151, 151, 151, 0.3);
}

@media screen and (min-width: 1100px) {
  .grid .col-md-5,
  .grid .col-md-6 {
    min-height: 650px !important;
  }
}

.TecController {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.TecController .indicator {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  padding: 0px 14px;
  margin: 20px 20px 0px 0px;
  font-size: 16px;
  line-height: 53px;
  letter-spacing: -0.165px;
  color: #979797;
  background: rgba(218, 218, 218, 0.28);
  border-radius: 123px;
}

.TecController .active {
  background: #75246f;
  color: #fff;
}

.technologies {
  position: relative;
  margin-top: 75px;
}

.technologies .row {
  display: none;
  height: 100%;
}

.technologies .row .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.technologies .row .content h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.165px;
  color: #1b1464;
  width: 100%;
}

.technologies .row .content h2 span {
  color: #75246f;
}

.technologies .row .content p {
  font-weight: 600;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: -0.165px;
  color: #b59db3;
}

.technologies .row .content li {
  color: #a3a3a3;
  font-weight: normal;
  font-size: 19px;
  line-height: 42px;
}

.technologies .row .content .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  line-height: 36px;
  border-radius: 12px;
  padding: 15px 32px;
}

.technologies .row .img {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.technologies .row .img1 {
  background-image: url(../images/technologies/tec1.png);
}

.technologies .row .img2 {
  background-image: url(../images/technologies/tec2.png);
}

.technologies .row .img3 {
  background-image: url(../images/technologies/tec3.png);
}

.technologies .row .img4 {
  background-image: url(../images/technologies/tec4.png);
}

.technologies .row .img5 {
  background-image: url(../images/technologies/tec5.png);
}

.technologies .row.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

#about {
  margin-top: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#about h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 108%;
  /* or 52px */
  color: #75246f;
  background: -webkit-gradient(linear, left bottom, left top, from(#f4f0f3), to(#f4f0f3)), #f4f0f3;
  background: linear-gradient(0deg, #f4f0f3, #f4f0f3), #f4f0f3;
  margin-bottom: 5vh;
}

#about .cursor {
  position: absolute;
  top: 67px;
  left: 60%;
}

#about .content {
  width: 48.88vw;
  height: 48.88vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/about/Subtract.png);
  background-size: 48.88vw 48.88vw;
}

#about .content p {
  color: #1b1464;
  font-size: 24px;
  line-height: 190%;
  width: 577px;
}

#about .content::before {
  content: url(../images/about/left_hand.png);
  position: absolute;
  left: 0;
  top: 169px;
}

#about .content::after {
  content: url(../images/about/right_handpng.png);
  position: absolute;
  right: 0;
  top: 321px;
}

#about::before {
  content: "";
  position: absolute;
  width: 68.27px;
  height: 68.27px;
  left: 269.58px;
  top: 72%;
  background: #f4f0f3;
  border-radius: 50%;
}

#about::after {
  content: "";
  position: absolute;
  width: 28.75px;
  height: 28.75px;
  left: 1191px;
  top: 48%;
  background: #f4f0f3;
  opacity: 0.5;
  border-radius: 50%;
}

@media screen and (min-width: 1100px) {
  .grid .col-md-5,
  .grid .col-md-6 {
    min-height: 650px !important;
  }
}

.download {
  margin-top: 27.7vh;
  position: relative;
}

.download h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 108%;
  color: #75246f;
  background: -webkit-gradient(linear, left bottom, left top, from(#f4f0f3), to(#f4f0f3)), #f4f0f3;
  background: linear-gradient(0deg, #f4f0f3, #f4f0f3), #f4f0f3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.download div {
  margin: 11.11vh auto 41.11vh;
  width: 55%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download div::after {
  content: url(../images/download/Subtract.png);
  position: absolute;
  right: 2vw;
  top: -4.88vh;
  z-index: -1;
}

.contact {
  background: #f4f3f7;
  padding: 140px;
}

.contact .form-control:focus {
  border-color: #fff0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(117, 36, 111, 0.25) !important;
          box-shadow: 0 0 0 0.25rem rgba(117, 36, 111, 0.25) !important;
}

.contact .col-lg-8 .row h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -1px;
  color: #75246f;
}

.contact .col-lg-8 .row h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: -2px;
  color: #1b1464;
}

.contact .col-lg-8 .row p {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #808080;
}

.contact .col-lg-8 .row input,
.contact .col-lg-8 .row textarea {
  font-size: 16px;
  line-height: 25px;
  background: #ffffff;
  border-radius: 12px;
  padding: 15px 25px;
}

.contact .col-lg-8 .row textarea {
  height: 150px !important;
}

.contact .col-lg-8 .row .btn {
  justify-self: flex-end !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 15px;
}

.contact .col-lg-8 .row:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact .myCard {
  background: #75246f;
  color: white;
  padding: 27px;
  border-radius: 12px;
}

.contact .myCard h2 {
  font-size: 36px;
  line-height: 55px;
  letter-spacing: -1.5px;
  color: #ffffff;
}

.contact .myCard > p {
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #ffffff7a;
}

.contact .myCard .innerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .myCard .innerCard > span {
  font-size: 36px !important;
  margin-right: 25px;
  padding: 25px;
  background-color: rgba(8, 20, 32, 0.15);
  border-radius: 50%;
}

.contact .myCard .innerCard .content h3 {
  font-size: 20px;
  line-height: 30px;
}

.contact .myCard .innerCard .content p {
  font-size: 16px;
  line-height: 25px;
}

.contact .myCard .innerCard .content p span {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.75);
}

footer {
  padding: 60px;
  background: #f4f3f7;
}

footer .col-lg-4 {
  margin-bottom: 15px;
  padding-left: 75px;
  padding-right: 75px;
}

footer .col-lg-4 h2 {
  font-weight: 600;
  font-size: 20px !important;
  line-height: 27px;
  color: #1b1464;
  margin-bottom: 40px;
}

footer .col-lg-4 p {
  font-size: 16px;
  line-height: 25px;
}

footer .col-lg-4 p span {
  color: #1b1464;
}

footer .col-lg-4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .col-lg-4 div a {
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  color: #979797;
  width: 50%;
  margin-bottom: 16px;
}

footer .col-lg-4:nth-child(1) p {
  font-size: 16px;
  line-height: 24px;
  color: #808080;
  margin-top: 15px;
  margin-bottom: 30px !important;
}

footer .col-lg-4:nth-child(1) .footerImg {
  padding: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #75246f;
  -webkit-box-shadow: 0px 4px 17px rgba(117, 36, 111, 0.26);
          box-shadow: 0px 4px 17px rgba(117, 36, 111, 0.26);
  border-radius: 13px;
}

footer .col-lg-4:nth-child(1) p:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 70px;
}

footer .col-lg-4:nth-child(1) p:last-child a {
  color: #1b1464;
  font-size: 25px;
}

footer .col-lg-4:nth-child(1) img {
  height: 36px;
  width: 36px;
}

.mobileNav {
  position: fixed;
  top: 0;
  left: -70vw;
  z-index: 2000;
  height: 100vh !important;
  width: 70vw;
  background: #75246f;
  padding: 50px 15px 50px 5px;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.mobileNav ul div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileNav ul div:first-child span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  font-size: 40px;
}

.mobileNav ul .nav-links {
  height: 50vh;
  width: 100%;
  margin-top: 50px;
  display: block !important;
}

.mobileNav ul .nav-links .nav-item .nav-link {
  padding: 15px 0px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8) !important;
}

.mobileNav ul .nav-links .nav-item .nav-link:hover {
  color: white !important;
}

@media screen and (max-width: 992px) {
  .hiddenOnMobile {
    display: none !important;
  }
  .navbar .container-fluid {
    padding: 25px 5vw 0 5vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar .navbar-toggler {
    margin-right: 20px;
    width: 24px;
    height: 100%;
    border: none;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/toggler.svg);
    background-size: 110%;
  }
  .navbar .navbar-toggler:focus {
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0);
  }
  .navbar img {
    height: 40px;
  }
  .sliderSection {
    margin-top: 15px;
  }
  .sliderSection .row .content {
    margin-top: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .sliderSection .row .content h2 {
    font-size: 20px;
    margin-bottom: 7px;
  }
  .sliderSection .row .content p {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .sliderSection .row .content p ~ ul {
    margin-bottom: 25px;
  }
  .sliderSection .row .content ul li {
    font-size: 16px !important;
    text-align: left;
  }
  .sliderSection .row .content .main_back {
    padding: 10px 20px !important;
    font-style: normal;
    font-size: 18px;
  }
  .sliderSection .row .images {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .sliderSection .row .images .img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-height: 250px;
  }
  .sliderSection .row .images .indicators {
    width: 50vw;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    top: 10px;
  }
  .swiper-wrapper {
    margin-bottom: 25px;
  }
  .swiper-wrapper .swiper-slide {
    padding: 0 5vw;
  }
  .swiper-wrapper .swiper-slide div {
    background: #f4f0f3;
    border-radius: 6px;
    padding: 15px;
    height: 550px;
  }
  .swiper-wrapper .swiper-slide div h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 127%;
    color: #1b1464;
  }
  .swiper-wrapper .swiper-slide div h3 span {
    color: #75246f;
  }
  .swiper-wrapper .swiper-slide div p {
    font-size: 16px;
    line-height: 24px;
    color: #808080;
  }
  .swiper-wrapper .swiper-slide div p span {
    color: #75246f;
    font-size: 18px;
  }
  .swiper-wrapper .swiper-slide div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 12px;
  }
  .swiper-wrapper .swiper-slide div a span {
    margin-left: 10px;
  }
  .swiper-wrapper .swiper-slide div ul li {
    line-height: 25px;
    color: #808080;
  }
  .technologies {
    overflow: hidden !important;
    margin-top: 30px;
  }
  .technologies .row .content {
    margin-bottom: 25px;
  }
  .technologies .row .content h2 {
    font-size: 24px;
    line-height: 41px;
  }
  .technologies .row .content div p {
    font-size: 18px;
  }
  .technologies .row .content div li {
    font-size: 16px;
    font-weight: normal;
  }
  .technologies .row .content .btn {
    font-size: 18px;
    line-height: 25px;
    border-radius: 12px;
    padding: 7px 27px;
  }
  .overFlow {
    width: 100vw;
    overflow: hidden;
  }
  .overFlow .TecController2.hiddenOnPC {
    width: 1150px;
    padding-left: 5vw;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .overFlow .TecController2.hiddenOnPC .indicator {
    display: block;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    width: 180px !important;
    margin-right: 10px;
    font-size: 14px;
    line-height: 53px;
    letter-spacing: -0.165px;
    color: #979797;
    background: rgba(218, 218, 218, 0.28);
    border-radius: 123px;
  }
  .overFlow .TecController2.hiddenOnPC .active {
    background: #75246f;
    color: #fff;
  }
  #about h2 {
    font-size: 35px;
    margin-bottom: 2vh;
  }
  #about .cursor {
    position: absolute;
    top: 40px;
    left: 60%;
    height: 50px;
    width: 50px;
  }
  #about .content {
    width: 100vw;
    height: 100vw;
    background-image: url(../images/about/Subtract_mobile.png);
    background-size: 95vw 95vw;
    background-repeat: no-repeat;
    background-position: center;
  }
  #about .content::before {
    display: none;
  }
  #about .content::after {
    display: none;
  }
  #about .content p {
    margin-top: 15px;
    font-size: 16px;
    width: 80%;
    margin-left: 25px;
    text-align: left;
    line-height: 1.5em;
  }
  #about::before {
    display: none;
  }
  #about::after {
    display: none;
  }
  .download {
    margin: 100px 0;
  }
  .download h2 {
    font-size: 35px;
  }
  .download div {
    margin: 40px auto 100px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
  }
  .download div a {
    width: 48%;
    margin-bottom: 5px;
  }
  .download div a img {
    width: 100%;
    min-height: 55px;
  }
  .download div::after {
    content: "";
  }
  .contact {
    margin-top: 50px;
    padding-bottom: 0px;
  }
  footer .col-lg-4 {
    padding: 25px !important;
  }
  footer .col-lg-4 div a {
    text-align: center;
    width: 100% !important;
  }
  footer .col-md-3 {
    text-align: center;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .hiddenOnPC {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */