@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import "./SASS/_functions.scss";

/* font-family: 'Poppins', sans-serif; */

* {
    font-family: "Poppins", sans-serif;
}

.topOval {
    position: absolute;
    left: -14.72%;
    right: 57.17%;
    top: -5.53%;
    bottom: 90.7%;
    display: none;
}

.main_back {
    background-color: #75246f !important;
    color: #fff !important;
}

// scroll bar
::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}
::-webkit-scrollbar-button {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-thumb {
    background: #c33cba;
    border: 20px none #ffffff00;
    border-radius: 78px;
}
::-webkit-scrollbar-thumb:hover {
    background: #75246f;
}
::-webkit-scrollbar-thumb:active {
    background: #75246f;
}
::-webkit-scrollbar-track {
    background: #ffffff00;
    border: 0px none #ffffff00;
    border-radius: 79px;
}
::-webkit-scrollbar-track:hover {
    background: #7524702d;
}
::-webkit-scrollbar-track:active {
    background: #7524702d;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* Start nav bar Style */

.container-fluid {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
}
// nav
@import "./SASS/_nav.scss";

// header
@import "./SASS/_header.scss";

// first Section
@import "./SASS/_firstSection.scss";

// technologies
@import "./SASS/_technologies.scss";

// about
@import "./SASS/_about.scss";

// download
@import "./SASS/_download.scss";

// contact
@import "./SASS/_contact.scss";

// footer
@import "./SASS/_footer.scss";

// responsive
@import "./SASS/_responsive.scss";
