#about {
    margin-top: 14vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 108%;
        /* or 52px */
        color: #75246f;
        background: linear-gradient(0deg, #f4f0f3, #f4f0f3), #f4f0f3;
        margin-bottom: 5vh;
    }

    .cursor {
        position: absolute;
        top: 67px;
        left: 60%;
    }

    .content {
        width: 48.88vw;
        height: 48.88vw;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: #1b1464;
            width: 48.88vw !important;
            font-size: 24px;
            line-height: 190%;
            width: 577px;
            img {
                height: 48.88vw;
            }
        }

        &::before {
            content: url(../images/about/left_hand.png);
            position: absolute;
            left: 0;
            top: 169px;
        }

        &::after {
            content: url(../images/about/right_handpng.png);
            position: absolute;
            right: 0;
            top: 321px;
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 68.27px;
        height: 68.27px;
        left: 269.58px;
        top: 72%;
        background: #f4f0f3;
        border-radius: 50%;
    }

    &::after {
        content: "";
        position: absolute;
        width: 28.75px;
        height: 28.75px;
        left: 1191px;
        top: 48%;
        background: #f4f0f3;
        opacity: 0.5;
        border-radius: 50%;
    }
}

@media screen and (min-width: 1100px) {
    .grid .col-md-5,
    .grid .col-md-6 {
        min-height: 650px !important;
    }
}
