.contact {
    padding: 140px;
    .form-control:focus {
        border-color: #fff0;
        box-shadow: 0 0 0 0.25rem rgba(117, 36, 111, 0.25) !important;
    }
    .col-lg-8 {
        .row {
            h3 {
                font-weight: bold;
                font-size: 1.25rem;
                line-height: 30px;
                letter-spacing: -1px;
                color: #75246f;
            }

            h2 {
                font-weight: 600;
                font-size: 2.25rem;
                line-height: 65px;
                letter-spacing: -2px;
                color: #1b1464;
            }

            p {
                font-weight: 500;
                font-size: 1rem;
                line-height: 25px;
                color: #808080;
            }

            input,
            textarea {
                font-size: 1rem;
                line-height: 25px;
                background: #ffffff;
                border-radius: 12px;
                padding: 15px 25px;
            }

            textarea {
                height: 150px !important;
            }

            .btn {
                justify-self: flex-end !important;
                width: fit-content;
                margin-inline-end: 15px;
            }
        }

        .row:last-child {
            justify-content: flex-end;
        }
    }

    .myCard {
        background: #75246f;
        color: white;
        padding: 27px;
        border-radius: 12px;
        h2 {
            font-size: 2.25rem;
            line-height: 55px;
            letter-spacing: -1.5px;
            color: #ffffff;
        }

        > p {
            font-size: 1rem;
            line-height: 25px;
            padding-bottom: 23px;
            border-bottom: 1px solid #ffffff7a;
        }

        .innerCard {
            display: flex;
            align-items: center;
            > span {
                font-size: 2.25rem !important;
                margin: 0 15px;
                padding: 25px;
                background-color: rgba(8, 20, 32, 0.15);
                border-radius: 50%;
            }

            .content {
                h3 {
                    font-size: 1.25rem;
                    line-height: 30px;
                }

                p {
                    font-size: 1rem;
                    line-height: 25px;
                    span {
                        font-size: 1rem;
                        line-height: 20px;
                        color: rgba(255, 255, 255, 0.75);
                    }
                }
            }
        }
    }
}
