.grid {
    margin-top: 6.66vh;
    margin-bottom: 10.55vh;
    .col-md-7 {
        .container-fluid {
            padding: 0;
        }
    }
    .col-md-5,
    .col-md-6 {
        height: 860px;
        div {
            padding: 20px 15px;
            background: #f4f0f3;
            border-radius: 12px;
            height: 100%;
            h3 {
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 127%;
                color: #1b1464;
                span {
                    color: #75246f;
                }
            }

            p {
                font-size: 16px;
                line-height: 24px;
                color: #808080;
                span {
                    color: #75246f;
                    font-size: 18px;
                }
            }

            a {
                display: flex;
                align-items: center;
                width: fit-content;
                text-decoration: none;
                border-radius: 8px;
                padding: 8px 16px;
                font-weight: 500;
                font-size: 12px;
                span {
                    margin-left: 10px;
                }
            }

            ul li {
                line-height: 25px;
                color: #808080;
            }
        }

        div.towPart:first-child {
            height: calc(45% - 15px);
            margin-bottom: 30px;
        }
        div.towPart {
            height: calc(55% - 15px);
            margin-bottom: 30px;
        }
    }
}
