footer {
    padding: 60px;
    .col-lg-4 {
        margin-bottom: 15px;
        padding-inline-start: 75px;
        padding-inline-end: 75px;
        h2 {
            font-weight: 600;
            font-size: 1.25rem !important;
            line-height: 27px;
            color: #1b1464;
            margin-bottom: 40px;
        }

        p {
            font-size: 1rem;
            line-height: 25px;
            span {
                color: #1b1464;
            }
        }

        div {
            display: flex;
            flex-wrap: wrap;
            a {
                text-decoration: none;
                font-size: 1rem;
                line-height: 25px;
                color: #979797;
                width: 50%;
                margin-bottom: 16px;
            }
        }
    }

    .col-lg-4:nth-child(1) {
        p {
            font-size: 1rem;
            line-height: 24px;
            color: #808080;
            margin-top: 15px;
            margin-bottom: 30px !important;
        }
        .footerImg {
            padding: 12px;
            width: fit-content;
            background: #75246f;
            box-shadow: 0px 4px 17px rgba(117, 36, 111, 0.26);
            border-radius: 13px;
        }

        p:last-child {
            display: flex;
            width: 100%;
            justify-content: space-between;
            a {
                color: #1b1464;
                font-size: 1.56rem;
            }
        }

        img {
            height: 36px;
            width: 36px;
        }
    }

    .col-lg-4:nth-child(3) {
        padding: 0;
    }
}
