.sliderSection {
    display: flex;
    align-items: center;
    height: 95vh;
    position: relative;
    .mySwiper2 {
        .indecators {
            display: flex;
            justify-content: flex-end;
            padding: 15px 20% 15px 0;
            .swiper-pagination-bullet {
                cursor: pointer;
                display: block;
                width: 35px;
                height: 8px;
                border-radius: 13px;
                background: rgb(218, 218, 218);
                @include blur(13px);
            }

            .swiper-pagination-bullet-active {
                background: #75246f;
                @include blur(0px);
            }
        }

        .row {
            display: flex;
            .content {
                margin-bottom: 20px;
                padding-top: 18px;
                h2 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 72px;
                    line-height: 108%;
                    color: #1b1464;
                    span {
                        color: #75246f;
                    }
                }

                ul li {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    color: #808080;
                }

                p ~ ul {
                    margin-bottom: 7vh;
                }
                p {
                    margin-bottom: 7vh;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    color: #808080;

                    span {
                        color: #1b1464;
                        font-weight: 600;
                    }
                }

                p.hasUlAftter {
                    margin-bottom: 1.83vh;
                }

                .main_back {
                    border-radius: 12px;
                    padding: 15px 32px !important;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 36px;
                }
            }
            .images {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-content: center;
                .img {
                    margin: 0 auto;
                    max-width: 1082px;
                    max-height: 613px;
                    min-width: 330px;
                    min-height: 400px;
                    height: 100%;
                    width: 100%;
                    align-self: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                }

                .img:nth-of-type(2) {
                    position: relative;
                    overflow: visible !important;
                    &::before {
                        content: "";
                        height: 1px;
                        width: 1px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: -1;
                        @include shadow(0px 100px 200px 50px #706f6fb8);
                    }
                }
            }
        }
        .circle {
            position: absolute;
            width: 18.5vw;
            height: 18.5vw;
            left: -57px * 2;
            top: 5.5vh;
            border-radius: 50%;
            z-index: -1;
            background-color: #ac5ea40d;
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
