.navbar {
    padding-top: 0 !important;
    .container-fluid {
        padding: 3.66vh 0px;
        .navbar-nav {
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .nav-links {
                margin-inline-start: 25px;
                display: flex;
                align-items: center;
            }

            .nav-link {
                margin-inline-start: 10px;
                font-weight: 500;
                font-size: 1.125rem;
                line-height: 25px;
                color: #a3a3a3 !important;
                &:hover {
                    color: #75246f !important;
                }
            }

            .nav-link.active {
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 30px;
                letter-spacing: -1px;
                color: #75246f !important;
            }

            .nav-btn {
                display: flex;
                .nav-link {
                    color: #ffffff !important;
                    font-size: 1rem;
                    line-height: 25px;
                    letter-spacing: -0.17px;
                    background: #75246f;
                    border-radius: 8px;
                }

                .nav-item:nth-child(1) .nav-link {
                    padding: 11px 33px !important;
                    color: #75246f !important;
                    background-color: #fff;
                    border: 2px solid #75246f;
                    margin-inline-end: 20px;
                    transition: all 0.25s ease-in-out;
                    &:hover {
                        background: #75246f;
                        color: #ffffff !important;
                    }
                }

                .nav-item:nth-child(2) .nav-link {
                    padding: 11px 45px !important;
                    border: 2px solid #75246f;
                    @include shadow(-10px 30px 50px rgba(117, 36, 111, 0.3));
                }
            }
        }

        .navbar-toggler {
            width: 16px;
            .navbar-toggler-icon {
                background-image: url(../assets/images/toggler.svg);
            }
            border: none;
            &:focus {
                @include shadow(0px 0px 0px 5px rgba(0, 0, 0, 0));
            }
        }
    }
}
