@media screen and (max-width: 990px) {
    .hiddenOnMobile {
        display: none !important;
    }

    // nav
    .navbar {
        .container-fluid {
            padding: 25px 5vw 0 5vw;
            justify-content: flex-start;
        }
        .navbar-toggler {
            margin-right: 20px;
            width: 24px;
            height: 100%;
            .navbar-toggler-icon {
                background-image: url(../images/toggler.svg);
                background-size: 110%;
            }
            border: none;
            &:focus {
                @include shadow(0px 0px 0px 5px rgba(0, 0, 0, 0));
            }
        }

        img {
            height: 40px;
        }
    }

    // header Slider
    .sliderSection {
        margin-top: 0px;
        height: fit-content;
        .swiper-wrapper {
            margin-top: 0px;
            .swiper-slide {
                .row {
                    .content {
                        margin-top: 20px;
                        order: 2;
                        h2 {
                            font-size: 20px;
                            margin-bottom: 7px;
                        }

                        p {
                            font-size: 16px;
                            margin-bottom: 25px;
                        }

                        p ~ ul {
                            margin-bottom: 25px;
                        }

                        ul li {
                            font-size: 16px !important;
                            text-align: left;
                        }

                        .main_back {
                            padding: 10px 20px !important;
                            font-style: normal;
                            font-size: 18px;
                        }
                    }

                    .images {
                        order: 1;
                        .img {
                            order: 1;
                            height: 70vw !important;
                        }

                        .indecators {
                            order: 2;
                            padding: 5px 0 0 0;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    // grid of first section
    .gridSwiper {
        margin-bottom: 50px;
        .swiper-wrapper {
            .swiper-slide {
                div {
                    background: #f4f0f3;
                    border-radius: 6px;
                    padding: 15px;
                    height: 550px;
                    h3 {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 127%;
                        color: #1b1464;
                        span {
                            color: #75246f;
                        }
                    }

                    p {
                        font-size: 16px;
                        line-height: 24px;
                        color: #808080;
                        span {
                            color: #75246f;
                            font-size: 18px;
                        }
                    }

                    a {
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        text-decoration: none;
                        border-radius: 8px;
                        padding: 8px 16px;
                        font-weight: 500;
                        font-size: 12px;
                        span {
                            margin-left: 10px;
                        }
                    }

                    ul li {
                        line-height: 25px;
                        color: #808080;
                    }
                }
            }
        }
    }

    // technologies
    .technologies {
        overflow: hidden !important;
        margin-top: 30px;
        .row {
            .content {
                margin-bottom: 25px;
                h2 {
                    font-size: 24px;
                    line-height: 30px;
                }

                div {
                    p {
                        font-size: 18px;
                        line-height: 30px;
                    }

                    li {
                        font-size: 16px;
                        font-weight: normal;
                        line-height: 1.75em;
                    }
                }

                .btn {
                    font-size: 18px;
                    line-height: 25px;
                    border-radius: 12px;
                    padding: 7px 27px;
                }
            }
        }
    }

    .overFlow {
        width: 100vw;
        overflow: hidden;
        .TecController2.hiddenOnPC {
            width: 1150px;
            padding-left: 5vw;
            transition: transform 0.3s ease-in-out;
            .indicator {
                display: block;
                display: inline-block;
                cursor: pointer;
                @include userSelect(none);
                text-align: center;
                transition: background-color 0.3s ease-in-out;
                width: 180px !important;
                margin-right: 10px;
                font-size: 14px;
                line-height: 53px;
                letter-spacing: -0.165px;
                color: #979797;
                background: rgba(218, 218, 218, 0.28);
                border-radius: 123px;
            }

            .active {
                background: #75246f;
                color: #fff;
            }
        }
    }

    // about
    #about {
        h2 {
            font-size: 35px;
            margin-bottom: 2vh;
        }

        .cursor {
            position: absolute;
            top: 40px;
            left: 60%;
            height: 50px;
            width: 50px;
        }
        .content {
            max-width: 500px;
            max-height: 500px;
            width: 95vw;
            height: 95vw;
            background-image: url(../images/about/Subtract_mobile.png);
            background-size: 95vw 95vw;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

            p {
                margin-top: 15px;
                font-size: 16px;
                width: 80%;
                margin-left: 25px;
                text-align: left;
                line-height: 1.5em;
            }
        }
        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    .download {
        margin: 100px 0;
        h2 {
            font-size: 35px;
        }

        div {
            margin: 40px auto 100px !important;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 80%;
            a {
                width: 48%;
                margin-bottom: 5px;
                img {
                    width: 100%;
                    height: 100%;
                    max-height: 80px;
                }
            }

            &::after {
                content: "";
            }
        }
    }

    .contact {
        margin-top: 50px;
        padding-bottom: 0px;
    }

    footer {
        .col-lg-4 {
            padding: 25px !important;
            h2 {
                margin-bottom: 20px;
            }
        }

        .col-md-3 {
            div {
                a {
                    width: 50%;
                }
            }
        }
    }

    iframe {
        height: 230px;
    }
}

// not mobile
@media screen and (min-width: 991px) {
    .hiddenOnPC {
        display: none !important;
    }
}

// for left and right hand
@media screen and (max-width: 1380px) {
    #about {
        overflow: hidden;
        .content {
            &::before {
                left: -100px;
            }

            &::after {
                right: -100px;
            }
        }
    }
}

// for left and right hand
@media screen and (max-width: 1140px) {
    #about {
        .content {
            &::before {
                left: -150px;
            }

            &::after {
                right: -150px;
            }
        }
    }
}
