@media screen and (max-width: 768px) {
    .container-fluid {
        padding-left: 3vw !important;
        padding-right: 3vw !important;
    }
    // nav
    .nav-links {
        display: block !important;
        .nav-link {
            padding: 10px 0px;
            text-align: center;
            margin-left: 0 !important;
        }
        margin-bottom: 15px;
    }

    // header Slider
    .sliderSection {
        margin-top: 15px;
        .indicators {
            width: 40vw;
            margin-left: 50%;
        }
        .row {
            margin-top: 5px;
            .content {
                text-align: center;
                margin-bottom: 25px;
                h2 {
                    font-size: 40px;
                }

                p {
                    font-size: 18px;
                    padding: 0px 15px;
                }

                ul li {
                    font-size: 18px;
                    text-align: left;
                }

                .main_back {
                    padding: 10px 20px !important;
                    font-style: normal;
                    font-size: 18px;
                }
            }
        }
    }

    // grid of first section
    .grid .col-md-5,
    .grid .col-md-6 {
        min-height: 400px !important;
    }

    // technologies
    .technologies {
        .row {
            .content {
                margin-bottom: 25px;
                h2 {
                    font-size: 24px;
                    line-height: 41px;
                }

                div {
                    p {
                        font-size: 18px;
                    }

                    li {
                        font-size: 16px;
                        font-weight: normal;
                    }
                }

                .btn {
                    font-size: 18px;
                    line-height: 25px;
                    border-radius: 12px;
                    padding: 7px 27px;
                }
            }
        }
    }

    // about
    #about {
        h2 {
            font-size: 35px;
        }
        .content {
            text-align: center;
            background-size: 80vw 80vw;
            height: fit-content;
            width: 100%;
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

            p {
                font-size: 19px;
                width: 80%;
            }
        }
        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    .download {
        margin: 100px 0;
        h2 {
            font-size: 35px;
        }

        div{
            margin: 40px auto 100px !important;
            justify-content: center;
            a{
                margin-bottom: 15px;
            }
        }
    }

    .contact{
        margin-top: 50px;
    }
    footer {
        .col-lg-4 {
            padding: 20px !important;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    // footer
    footer {
        .col-lg-4 {
            padding: 25px !important;
            div {
                a {
                    text-align: center;
                    width: 100% !important;
                }
            }
        }

        .col-md-3 {
            text-align: center;
            padding: 0;
        }
    }
}
